.wion-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.wion-wion {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.wion-header5 {
  width: 100%;
  height: 585px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  position: relative;
  margin-top: -130px;
  align-items: center;
  flex-shrink: 0;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 0px;
}
.wion-column {
  gap: 24px;
  width: 560px;
  display: flex;
  z-index: 100;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.wion-text002 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-actions {
  gap: 16px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.wion-style-primary-small-false-darkmode-false-iconposition-noi {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(41, 61, 71, 1);
}
.wion-text004 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-navlink {
  display: contents;
}
.wion-style-secondary-small-false-darkmode-true-iconposition-no {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.wion-text006 {
  color: rgba(41, 61, 71, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-image {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 733px;
  z-index: 0;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
}
.wion-tienda-wion {
  gap: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.wion-content1 {
  gap: 80px;
  display: flex;
  padding: 0 0 48px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.wion-product {
  gap: 16px;
  width: 616px;
  height: 700px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
.wion-placeholder-image {
  top: 0px;
  left: 0px;
  width: 616px;
  height: 700px;
  position: absolute;
  flex-grow: 1;
}
.wion-slider-buttons {
  gap: 15px;
  top: 326px;
  left: 16px;
  width: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.wion-button {
  gap: 8px;
  display: flex;
  padding: 12px;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.wion-icon {
  width: 24px;
  height: 24px;
}
.wion-button1 {
  gap: 8px;
  top: 326px;
  left: 552px;
  width: 48px;
  display: flex;
  padding: 12px;
  position: absolute;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.wion-icon1 {
  width: 24px;
  height: 24px;
}
.wion-slider-dots {
  gap: 8px;
  top: 656px;
  left: 0px;
  width: 616px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.wion-dot {
  width: 8px;
  height: 8px;
}
.wion-dot1 {
  width: 8px;
  height: 8px;
}
.wion-dot2 {
  width: 8px;
  height: 8px;
}
.wion-dot3 {
  width: 8px;
  height: 8px;
}
.wion-column1 {
  gap: 32px;
  width: 616px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-product-description {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-breadcrumbs {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.wion-text008 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 150%;
}
.wion-iconchevronright {
  width: 16px;
  height: 16px;
}
.wion-text010 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 150%;
}
.wion-iconchevronright1 {
  width: 16px;
  height: 16px;
}
.wion-text012 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 150%;
}
.wion-text014 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.wion-price {
  gap: 16px;
  display: flex;
  align-items: center;
}
.wion-text016 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-divider {
  width: 0px;
  height: 34px;
  align-self: stretch;
}
.wion-product-review {
  gap: 8px;
  display: flex;
  align-items: center;
}
.wion-stars {
  width: 96px;
  height: 15px;
}
.wion-text018 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 150%;
}
.wion-description {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text020 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-list {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-list-item {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.wion-text022 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.wion-list-item1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.wion-text024 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.wion-list-item2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.wion-text026 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 150%;
}
.wion-form {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wion-input {
  gap: 8px;
  width: 616px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-text028 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-icon-false {
  gap: 16px;
  display: flex;
  padding: 12px;
  align-self: stretch;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.wion-text030 {
  color: rgba(102, 102, 102, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-iconchevrondown {
  width: 24px;
  height: 24px;
}
.wion-input1 {
  gap: 8px;
  width: 616px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-text032 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-variants {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.wion-row {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  border-radius: 30px 30px 0 0;
}
.wion-selected-true {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(68, 104, 121, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(68, 104, 121, 1);
}
.wion-text034 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-selected-false {
  gap: 8px;
  width: 113px;
  display: flex;
  padding: 8px 16px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(68, 104, 121, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(102, 102, 102, 1);
}
.wion-text036 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-selected-false1 {
  gap: 8px;
  width: 124px;
  display: flex;
  opacity: 0.25;
  padding: 8px 16px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(68, 104, 121, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.wion-text038 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-input2 {
  gap: 8px;
  width: 616px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-text040 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-type-default {
  gap: 8px;
  width: 64px;
  display: flex;
  padding: 12px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.wion-text042 {
  color: rgba(102, 102, 102, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-frame1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wion-form-submit {
  gap: 16px;
  width: 616px;
  display: flex;
  padding: 8px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-style-primary-small-false-darkmode-false-iconposition-noi1 {
  gap: 8px;
  width: 171px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(68, 104, 121, 1);
}
.wion-text043 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-navlink1 {
  display: contents;
}
.wion-style-secondary-small-false-darkmode-false-iconposition-n {
  gap: 8px;
  width: 171px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(102, 102, 102, 1);
}
.wion-text045 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-text047 {
  color: rgba(0, 0, 0, 1);
  width: 616px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
.wion-accordion {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-accordion-item {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text049 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-text051 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-divider1 {
  width: auto;
  height: 1px;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.wion-accordion-item1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text053 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-text055 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-divider2 {
  width: auto;
  height: 1px;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.wion-accordion-item2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text057 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-text059 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-stats-wion {
  gap: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #293d47;
}
.wion-content2 {
  gap: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.wion-content3 {
  gap: 16px;
  width: 616px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-section-title {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text061 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-content4 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text063 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.wion-text065 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-actions1 {
  gap: 24px;
  display: flex;
  padding: 16px 0 0;
  align-items: center;
}
.wion-style-secondary-small-false-darkmode-true-iconposition-no1 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.wion-text067 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-style-link-small-false-darkmode-true-iconposition-trailin {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}
.wion-text069 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-iconchevronright2 {
  width: 24px;
  height: 24px;
}
.wion-stats {
  gap: 48px;
  width: 616px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-row1 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.wion-stat {
  gap: 8px;
  width: 292px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 0 2px;
  flex-direction: column;
}
.wion-text071 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-text073 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-stat1 {
  gap: 8px;
  width: 292px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 0 2px;
  flex-direction: column;
}
.wion-text075 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-text077 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-row2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.wion-stat2 {
  gap: 8px;
  width: 292px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 0 2px;
  flex-direction: column;
}
.wion-text079 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-text081 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-stat3 {
  gap: 8px;
  width: 292px;
  display: flex;
  padding: 0 0 0 32px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 0 2px;
  flex-direction: column;
}
.wion-text083 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 80px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-text085 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-header111 {
  gap: 80px;
  width: 100%;
  height: 500px;
  display: flex;
  z-index: 4;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 112px;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 112px;
  background-size: cover;
  background-image: url("/Bebidas/captura%20de%20pantalla%202024-06-26%20a%20la(s)%2015.46.55-900h.webp");
}
.wion-content5 {
  gap: 80px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
.wion-columnone {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text087 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.wion-columntwo {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.wion-content6 {
  gap: 16px;
  display: flex;
  padding: 0 46px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.wion-text088 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-actions2 {
  gap: 16px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.wion-style-primary-small-false-darkmode-false-iconposition-noi2 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(68, 104, 121, 1);
}
.wion-text090 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-navlink2 {
  display: contents;
}
.wion-style-secondary-small-false-darkmode-true-iconposition-no2 {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.wion-text092 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wion-testimonial5 {
  gap: 80px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 5;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.wion-section-title1 {
  gap: 24px;
  width: 560px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-text094 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.wion-text096 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.wion-content7 {
  gap: 64px;
  width: 1280px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.wion-column2 {
  gap: 32px;
  width: 608px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-stars1 {
  width: 116px;
  height: 19px;
}
.wion-text098 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 139.9999976158142%;
}
.wion-avatar {
  gap: 20px;
  display: flex;
  align-items: center;
}
.wion-avatar-image {
  width: 56px;
  height: 56px;
}
.wion-avatar-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text100 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.wion-text102 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.wion-column3 {
  gap: 32px;
  width: 608px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.wion-stars2 {
  width: 116px;
  height: 19px;
}
.wion-text104 {
  color: rgb(0, 0, 0);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 140%;
}
.wion-avatar1 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.wion-avatar-image1 {
  width: 56px;
  height: 56px;
}
.wion-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.wion-text105 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.wion-text106 {
  color: rgb(0, 0, 0);
  height: auto;
  text-align: left;
  line-height: 150%;
}
.wion-img11222 {
  top: 19px;
  left: 46.5px;
  width: auto;
  height: auto;
  z-index: 8;
  position: absolute;
}
@media(max-width: 479px) {
  .wion-header5 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wion-column {
    width: 433px;
    align-self: flex-end;
    padding-bottom: 25px;
    justify-content: flex-end;
  }
  .wion-tienda-wion {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wion-content1 {
    flex-direction: column;
  }
  .wion-product {
    width: 478px;
  }
  .wion-placeholder-image {
    left: 0px;
    right: 0px;
    width: 343px;
    height: 389px;
    margin: auto;
  }
  .wion-slider-buttons {
    left: 25px;
    margin: auto;
  }
  .wion-button1 {
    top: 327px;
    left: 400px;
    right: 57px;
    position: absolute;
    align-self: center;
    justify-content: flex-end;
  }
  .wion-column1 {
    width: 478px;
    padding-left: 25px;
  }
  .wion-product-description {
    width: 419px;
  }
  .wion-form {
    width: 439px;
  }
  .wion-input {
    width: 421px;
  }
  .wion-input1 {
    width: 428px;
  }
  .wion-input2 {
    width: 422px;
  }
  .wion-frame1 {
    width: 100%;
    flex-direction: column;
  }
  .wion-accordion {
    width: 418px;
  }
  .wion-stats-wion {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wion-content2 {
    flex-direction: column;
  }
  .wion-content3 {
    width: 419px;
  }
  .wion-stats {
    width: 478px;
  }
  .wion-row1 {
    padding-left: 100px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .wion-row2 {
    padding-left: 100px;
    flex-direction: column;
  }
  .wion-header111 {
    height: 864px;
    padding-left: 25px;
    padding-right: 0px;
  }
  .wion-content5 {
    gap: 0;
    flex-direction: column;
  }
  .wion-columntwo {
    align-self: flex-start;
    align-items: flex-start;
  }
  .wion-content6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .wion-testimonial5 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wion-section-title1 {
    width: 399px;
  }
  .wion-content7 {
    width: 403px;
    flex-direction: column;
  }
  .wion-column2 {
    width: 100%;
  }
  .wion-column3 {
    width: 100%;
  }
}
