.nuestra-diferencia-y-valor-agregado-header44 {
  gap: 80px;
  width: 100%;
  display: flex;
  z-index: 2;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.nuestra-diferencia-y-valor-agregado-container {
  gap: 24px;
  width: 768px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.nuestra-diferencia-y-valor-agregado-section-title {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.nuestra-diferencia-y-valor-agregado-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 150%;
}
.nuestra-diferencia-y-valor-agregado-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.nuestra-diferencia-y-valor-agregado-text02 {
  color: rgba(68, 104, 121, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 120.00000476837158%;
}
.nuestra-diferencia-y-valor-agregado-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
.nuestra-diferencia-y-valor-agregado-actions {
  gap: 16px;
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
}
.nuestra-diferencia-y-valor-agregado-link {
  display: contents;
}
.nuestra-diferencia-y-valor-agregado-style-primary-small-false-darkmode-false-iconposition-noi {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(68, 104, 121, 1);
}
.nuestra-diferencia-y-valor-agregado-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.nuestra-diferencia-y-valor-agregado-navlink {
  display: contents;
}
.nuestra-diferencia-y-valor-agregado-style-secondary-small-false-darkmode-false-iconposition-n {
  gap: 8px;
  display: flex;
  padding: 12px 24px;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(102, 102, 102, 1);
}
.nuestra-diferencia-y-valor-agregado-text08 {
  color: rgba(236, 253, 243, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

@media(max-width: 479px) {
  .nuestra-diferencia-y-valor-agregado-header44 {
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
  }
  .nuestra-diferencia-y-valor-agregado-container {
    width: 448px;
    height: 590px;
    align-self: flex-start;
  }
  .nuestra-diferencia-y-valor-agregado-section-title {
    width: 401px;
  }
}
